<div>
	{{#choices}}
	<label class="block-label" for="{{id}}_{{value}}">
		<input id="{{id}}_{{value}}" name="{{name}}" type="checkbox" value="{{value}}" {{#selected}} checked="checked" {{/selected}}>
				{{{text}}}
      </input>
		</label>
	{{/choices}}
</div>
