{{#XL}}<h1 class="heading-xlarge {{#hidden}} hidden {{/hidden}}" id="{{widgetId}}">{{{heading.content}}}</h1>{{/XL}}
{{#L}}<h2 class="heading-large   {{#hidden}} hidden {{/hidden}}" id="{{widgetId}}">{{{heading.content}}}</h2>{{/L}}
{{#M}}<h3 class="heading-medium  {{#hidden}} hidden {{/hidden}}" id="{{widgetId}}">{{{heading.content}}}</h3>{{/M}}
{{#S}}<h4 class="heading-small   {{#hidden}} hidden {{/hidden}}" id="{{widgetId}}">{{{heading.content}}}</h4>{{/S}}
