<input class="form-control" id="{{id}}" type="{{type}}" name="{{name}}" value="{{value}}"
	{{#required}} aria-required="true" {{/required}}
    {{#maxlength}} maxlength="{{maxlength}}" {{/maxlength}}
/>