<h1 class="form-title heading-large">{{pageTitle}}</h1>
{{#hasValidationErrors }}
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
        <h1 id="error-summary-heading" class="heading-medium error-summary-heading">{{errorTitle}}</h1>
        <ul class="error-summary-list">
            {{#globalErrors}}
                <li>{{validationMessage}}</li>
            {{/globalErrors}}
            {{#widgetErrors}}
                <li><a href="#{{widgetId}}">{{validationMessage}}</a></li>
            {{/widgetErrors}}
        </ul>
    </div>
{{/hasValidationErrors}}

<form method="post" class="form" enctype="multipart/form-data">

    {{{ widgets }}}

    <p><a href="{{formPath}}" class="link-back back-link">{{backToForm}}</a></p>

</form>

<script>
    $(document).ready(function() {
        addListeners("{{pageWidgetVisibilityListenerUrl}}")
    })
</script>
