<div class="form-group {{#hidden}} hidden {{/hidden}}" id="{{widgetId}}">
    <details class="text">
        <summary>
            <span class="summary">{{{progressiveDisclosure.summary}}}</span>
        </summary>
        <div>
            {{{progressiveDisclosure.content}}}
        </div>
    </details>
</div>
