{{{progressBar}}}

<h1 class="form-title heading-large">{{sectionTitle}}</h1>
	{{ #hasValidationErrors }}
	<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
    	<h1 id="error-summar-heading" class="heading-medium error-summary-heading">{{ errorTitle }}</h1>
      	<ul class="error-summary-list">
					{{ #globalErrors }}
						<li>{{validationMessage}}</li>
					{{ /globalErrors }}
        	{{ #widgetErrors }}
						<li><a href="#{{widgetId}}">{{validationMessage}}</a></li>
					{{ /widgetErrors }}
				</ul>
	</div>
	{{ /hasValidationErrors }}

	<form method="post" class="form" enctype="multipart/form-data">

	{{{ widgets }}}

	<button class="button secondary" name="{{previousButtonName}}" {{#isFirstSection}}disabled{{/isFirstSection}}>
		{{previousButton}}
	</button>

	<button class="button primary">
		{{^isLastSection}}
			{{continueButton}}
		{{/isLastSection}}
		{{#isLastSection}}
			{{submitButton}}
		{{/isLastSection}}
	</button>

</form>

<script>
	$(document).ready(function() {
		addListeners("{{sectionWidgetVisibilityListenerUrl}}")
	})
</script>
