<div class="form-group {{#validationMessages}} form-group-error {{/validationMessages}} {{#hidden}} hidden {{/hidden}} {{#forRadioButtons}} selectable-list {{/forRadioButtons}}" id="{{widgetId}}">
  <fieldset class="{{#displayAsRow}} inline {{/displayAsRow}}">

  			<legend>
          <h1 class="form-label-bold">{{label}}</h1>
          {{#hasLegend}}
          <span class="body-text">{{legend}}</span>
          {{/hasLegend}}
          {{#hasHint}}
    				<span class="form-hint">{{hint}}</span>
    			{{/hasHint}}
        </legend>

  			{{#validationMessages}}
  				<span class="error-message">{{.}}</span>
  			{{/validationMessages}}

  			{{ > widget }}

  		</fieldset>
</div>
