<div class="form-group {{#validationMessages}} error {{/validationMessages}} {{#hidden}} hidden {{/hidden}} {{#forRadioButtons}} selectable-list {{/forRadioButtons}}" id="{{widgetId}}">

	<label for="{{id}}">
		<span class="form-label-bold">{{label}}</span>
    {{#hasHint}}
			<span class="form-hint">{{hint}}</span>
		{{/hasHint}}
		{{#validationMessages}}
    	<span class="error-message">{{.}}</span>
    {{/validationMessages}}
	</label>

  {{ > widget }}

</div>
